@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}

/* Animation and styling for buttons */
.btn {
  background: linear-gradient(to right, red, orange);
  background-clip: text;
  color: transparent;
}

.userInput label {
  transition: all 1s ease;
}

.passInput label {
  transition: all 1s ease;
}

.userInput input:focus~label,
.passInput input:focus~label {
  top: -15px;
  left: 0;
  color: white;
  font-size: 10px;
  /* transition: all 0.5s ease-in; */
}

.userInput input:valid~label,
.passInput input:valid~label {
  top: -15px;
  font-size: 10px;
  left: 0;
  color: white;
  /* transition: all 0.5s ease-in; */
}

.createdPostCard {
  box-shadow: 0px 0px 5px gray;
}

@media (max-width : 645px) {
  .createdPostCard {
    width: 100%;
    box-shadow: 0px 2px 2px gray;
    border-radius: 0px;
  }

  .createPostCard,.commentCard {
    width: 100vw;
  }
}